@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sb-fagblogg-panel: var(--color-slate-200);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sb-fagblogg-panel: var(--sb-fagblogg-panel)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --sb-fagblogg-panel: var(--color-slate-700);
  }
}

html {
    background: var(--background);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sb_typography > :is(p, pre, blockquote, ul, ol, dl):not(:last-child) {
  @apply mb-6
}

.sb_typography h2 {
  @apply text-3xl mt-8 mb-4
}

.sb_typography pre {
  @apply bg-sb-fagblogg-panel/50 border border-sb-fagblogg-panel rounded-xl p-4
}

.sb_typography p code,
.sb_typography ul code,
.sb_typography ol code,
.sb_typography dl code,
.sb_typography blockquote code {
  @apply  bg-sb-fagblogg-panel p-0.5
}

.sb_typography a {
  @apply text-blue-500 dark:text-blue-400 underline
}

.sb_typography ul,
.sb_typography ol {
  @apply pl-6
}

.sb_typography ul  {
  @apply list-disc
}

.sb_typography ol {
  @apply list-decimal
}

.sb_typography .hljs-keyword {
  @apply text-fuchsia-400
}

.sb_typography .hljs-title {
  @apply font-semibold
}

.sb_typography .hljs-string {
  @apply text-emerald-700 dark:text-emerald-500
}