@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sb_typography > :is(p, pre, blockquote, ul, ol, dl):not(:last-child) {
  @apply mb-4
}

.sb_typography h2 {
  @apply text-3xl mt-8 mb-4
}

.sb_typography pre {
  @apply bg-slate-50 border border-slate-200 rounded-xl p-4
}

.sb_typography p code {
  @apply bg-slate-200 p-0.5
}

.sb_typography a {
  @apply text-blue-500 underline
}