@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sb-fagblogg-panel: var(--color-slate-200);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sb-fagblogg-panel: var(--sb-fagblogg-panel)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --sb-fagblogg-panel: var(--color-slate-700);
  }
}

html {
    background: var(--background);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.sb_typography > :is(p, pre, blockquote, ul, ol, dl):not(:last-child) {
  @apply mb-4
}

.sb_typography h2 {
  @apply text-3xl mt-8 mb-4
}

.sb_typography pre {
  @apply bg-sb-fagblogg-panel/50 border border-sb-fagblogg-panel rounded-xl p-4
}

.sb_typography p code {
  @apply bg-sb-fagblogg-panel p-0.5
}

.sb_typography a {
  @apply text-blue-500 dark:text-blue-400 underline
}